@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SimpleBlog Admin</title>

    @System.Web.Optimization.Styles.Render("~/admin/styles")
</head>
<body>

    <div class="container">

        <ul class="nav nav-pills">
            <li>
                @Html.ActionLink("Posts", "Index", "Posts", new{ area = "admin" }, new { })
            </li>
            <li>
                @Html.ActionLink("Users", "Index", "Posts", new{ area = "admin" }, new { })
            </li>
                
            <li class=" pull-right">
                @Html.RouteLink("Back to Website", "Home")
            </li>

        </ul>
        @RenderBody()

    </div>
  

 
    @System.Web.Optimization.Scripts.Render("~/admin/scripts")
    @RenderSection("Scripts", false)
</body>
</html>
